workspace/2ndHandBike/src/FinanceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.example.org/2ndHandBike/FinanceService/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:sb="http://www.example.org/2ndHandBike"
name="FinanceService" targetNamespace="http://www.example.org/2ndHandBike/FinanceService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/2ndHandBike/InventoryService/">
			<xsd:import namespace="http://www.example.org/2ndHandBike"
				schemaLocation="2ndHandBike.xsd"></xsd:import>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.example.org/2ndHandBike"
				schemaLocation="2ndHandBike.xsd">
			</xsd:import>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/2ndHandBike/FianceService/">
			<xsd:element name="addRecentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/2ndHandBike/FinanceService/"><xsd:complexType name="NewType"></xsd:complexType></xsd:schema>
    </wsdl:types>
  	<wsdl:message name="UpdateFinanceRequest">
		<wsdl:part name="in" type="sb:Order" />
	</wsdl:message>
	<wsdl:message name="UpdateFinanceResponse">
        <wsdl:part name="out" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addRecentRequest">
		<wsdl:part name="in" type="sb:Order"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addRecentResponse">
		<wsdl:part name="out" type="xsd:boolean"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="FianceServicePortType">
		<wsdl:operation name="UpdateFinance">
			<wsdl:input message="tns:UpdateFinanceRequest" />
			<wsdl:output message="tns:UpdateFinanceResponse"/>
        </wsdl:operation>
		<wsdl:operation name="addRecent">
			<wsdl:input message="tns:addRecentRequest"></wsdl:input>
			<wsdl:output message="tns:addRecentResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
  	<wsdl:binding name="FinanceServiceBinding" type="tns:FianceServicePortType">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="UpdateFinance">
			<soap:operation soapAction="http://www.example.org/2ndHandBike/FianceService/UpdateFinance" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/2ndHandBike/FinanceService/" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/2ndHandBike/FinanceService/" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addRecent">
			<soap:operation soapAction="http://www.example.org/2ndHandBike/FianceService/addRecent" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/2ndHandBike/FinanceService/" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/2ndHandBike/FinanceService/" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
  	<wsdl:service name="FinanceService">
    	<wsdl:port binding="tns:FinanceServiceBinding" name="FinanceServicePortType">
      		<soap:address location="http://www.example.org/"/>
    	</wsdl:port>
 	</wsdl:service>
</wsdl:definitions>
