workspace/Milestone2/WebContent/WEB-INF/services/CustomerService/META-INF/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerService" targetNamespace="http://www.example.org/2ndHandBike/CustomerService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/2ndHandBike/CustomerService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sb="http://www.example.org/2ndHandBike">
  <wsdl:types>
    <xsd:schema>
			<xsd:import namespace="http://www.example.org/2ndHandBike" schemaLocation="2ndHandBike.xsd">
			</xsd:import>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="createProfileResponse">
    <wsdl:part name="customer" type="sb:Customer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProfileRequest">
    <wsdl:part name="contactDetail" type="sb:ContactDetail">
    </wsdl:part>
    <wsdl:part name="username" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="username" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="password" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
  </wsdl:message>
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="createProfile">
      <wsdl:input message="tns:createProfileRequest">
    </wsdl:input>
      <wsdl:output message="tns:createProfileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest">
    </wsdl:input>
      <wsdl:output message="tns:loginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServiceSOAP" type="tns:CustomerService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createProfile">
      <soap:operation soapAction="http://www.example.org/2ndHandBike/CustomerService/createProfile"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/CustomerService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/CustomerService/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://www.example.org/2ndHandBike/CustomerService/login"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/CustomerService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/CustomerService/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="CustomerServiceSOAP" binding="tns:CustomerServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
