workspace/Milestone2/WebContent/WEB-INF/services/CustomerService/META-INF/SellService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SellService" targetNamespace="http://www.example.org/2ndHandBike/SellService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/2ndHandBike/SellService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sb="http://www.example.org/2ndHandBike">
  <wsdl:types>
    <xsd:schema>
			<xsd:import namespace="http://www.example.org/2ndHandBike" schemaLocation="2ndHandBike.xsd">
			</xsd:import>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="addCartResponse">
  </wsdl:message>
  <wsdl:message name="checkOutRequest">
    <wsdl:part name="order" type="sb:Order">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCartRequest">
    <wsdl:part name="IPAddress" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="products" type="sb:Product">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkOutResponse">
    <wsdl:part name="result" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderCompletionRequest">
    <wsdl:part name="orderId" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderCompletionResponse">
  </wsdl:message>
  <wsdl:portType name="SellService">
    <wsdl:operation name="addCart">
      <wsdl:input message="tns:addCartRequest">
    </wsdl:input>
      <wsdl:output message="tns:addCartResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkOut">
      <wsdl:input message="tns:checkOutRequest">
    </wsdl:input>
      <wsdl:output message="tns:checkOutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderCompletion">
      <wsdl:input message="tns:orderCompletionRequest">
    </wsdl:input>
      <wsdl:output message="tns:orderCompletionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SellServiceSOAP" type="tns:SellService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addCart">
      <soap:operation soapAction="http://www.example.org/2ndHandBike/SellService/addCart"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/SellService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/SellService/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkOut">
      <soap:operation soapAction="http://www.example.org/2ndHandBike/SellService/checkOut"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/SellService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/SellService/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderCompletion">
      <soap:operation soapAction="http://www.example.org/2ndHandBike/SellService/orderCompletion"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/SellService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/2ndHandBike/SellService/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SellService">
    <wsdl:port name="SellServiceSOAP" binding="tns:SellServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
