src/InventoryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.example.org/2ndHandBike/InventoryService/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:sb="http://www.example.org/2ndHandBike"
name="InventoryService" targetNamespace="http://www.example.org/2ndHandBike/InventoryService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/2ndHandBike/InventoryService/">
			<xsd:import namespace="http://www.example.org/2ndHandBike"
				schemaLocation="2ndHandBike.xsd"></xsd:import>
		</xsd:schema>
 	</wsdl:types>
    <wsdl:message name="CheckProductAvailabilityRequest">
    	<wsdl:part name="in" type="xsd:string"/>
	</wsdl:message>
  	<wsdl:message name="CheckProductAvailabilityResponse">
   		<wsdl:part name="out" type="xsd:boolean"/>
  	</wsdl:message>
  	<wsdl:message name="UpdateProductRequest">
  		<wsdl:part name="in" type="sb:Order"></wsdl:part>
  	</wsdl:message>
  	<wsdl:message name="UpdateProductResponse">
  		<wsdl:part name="out" type="xsd:boolean"></wsdl:part>
  	</wsdl:message>
	<wsdl:portType name="InventoryServicePortType">
    	<wsdl:operation name="CheckProductAvailability">
      		<wsdl:input message="tns:CheckProductAvailabilityRequest"/>
      		<wsdl:output message="tns:CheckProductAvailabilityResponse"/>
    	</wsdl:operation>
    	<wsdl:operation name="UpdateProduct">
    		<wsdl:input message="tns:UpdateProductRequest"></wsdl:input>
    		<wsdl:output message="tns:UpdateProductResponse"></wsdl:output>
    	</wsdl:operation>
  	</wsdl:portType>
  	<wsdl:binding name="InventoryServiceBinding" type="tns:InventoryServicePortType">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    		<wsdl:operation name="CheckProductAvailability">
      			<soap:operation soapAction="http://www.example.org/2ndHandBike/InventoryService/CheckProductAvailability"/>
      			<wsdl:input>
        			<soap:body namespace="http://www.example.org/2ndHandBike/InventoryService/" use="literal"/>
      			</wsdl:input>
      			<wsdl:output>
        			<soap:body namespace="http://www.example.org/2ndHandBike/InventoryService/" use="literal"/>
      			</wsdl:output>
    		</wsdl:operation>
     		<wsdl:operation name="UpdateProduct">
     			<soap:operation soapAction="http://www.example.org/2ndHandBike/InventoryService/UpdateProduct"/>
      			<wsdl:input>
        			<soap:body namespace="http://www.example.org/2ndHandBike/InventorServicey/" use="literal"/>
      			</wsdl:input>
      			<wsdl:output>
        			<soap:body namespace="http://www.example.org/2ndHandBike/InventoryService/" use="literal"/>
      			</wsdl:output>
    		</wsdl:operation>
  	</wsdl:binding>
  	<wsdl:service name="InventoryService">
    	<wsdl:port binding="tns:InventoryServiceBinding" name="InventoryServicePort">
      		<soap:address location="http://www.example.org/2ndHandBike/InventoryService"/>
    	</wsdl:port>
  	</wsdl:service>
</wsdl:definitions>
